{% load static %}
<div class="div1">
    <div class="dash-wrapper">
        <img src="{% static 'images/question.png' %}">
        <a href="/user/addquestion">Add Question</a>
    </div>
    <div class="dash-wrapper">
        <img src="{% static 'images/result.png' %}">
        <a href="#">View Result</a>
    </div>
    <div class="dash-wrapper">
        <img src="{% static 'images/about.png' %}">
        <a href="#">About Us</a>
    </div>
    <div class="dash-wrapper">
        <img src="{% static 'images/contact.png' %}">
        <a href="#">Contact Us</a>
    </div>
</div>