{% extends "base.html" %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/question.css' %}">
<script>
    function showAddForm() {
        addForm.style.top = '50%'
    }
    function hideAddForm() {
        addForm.style.top = '-100%'
    }
</script>
{% endblock %}
{% block content %}
    <div class="question">
        <div class="question-title">
            {{competition.title}}
            <a href="result/">View Submission</a>
            <button onclick="showAddForm()">Add Question</button>
        </div>
        <div class="question-description">
            {{competition.description}}
        </div>
        <div class="testcases">
            {% for question in questions %}
                <div class="testcase">
                    <a href="/user/question/{{question.id}}">
                        <b>
                            Question {{forloop.counter}} <br><br>
                        </b>
                        {{question.title}} <br><br>
                        {{question.description}}
                    </a>
                </div>
            {% empty %}
                <div class="testcase">
                    No Questions found, Add some.
                </div>
            {% endfor %}
        </div>
    </div>
    <form method="POST" id="addForm">
        {% csrf_token %}
        <div class="form-head">
            <div class="heading">
                Add Question
            </div>
            <button type="button" onclick="hideAddForm()">X</button>
        </div>
        <div class="form-input">
            <input type="text" placeholder="Title" name="title">
            <textarea placeholder="Description" name="description"></textarea>
            <button type="submit">Add Question</button>
        </div>
    </form>
{% endblock %}