{% extends "base.html" %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/question.css' %}">
<script>
    function showAddForm() {
        addForm.style.top = '50%'
    }
    function hideAddForm() {
        addForm.style.top = '-100%'
    }
</script>
{% endblock %}
{% block content %}
    <div class="question">
        <div class="question-title">
            Competitions
            <button onclick="showAddForm()">Create Competition</button>
        </div>
        <div class="question-description">
            All competitions created by you
        </div>
        <div class="testcases">
            {% for competition in competitions %}
                <div class="testcase">
                    <a href="/user/competition/{{competition.id}}/">
                        <b>
                            Competition {{forloop.counter}} <br><br>
                        </b>
                        {{competition.title}} <br><br>
                        {{competition.description}}
                    </a>
                </div>
            {% empty %}
                <div class="testcase">
                    No Competition found, Create one
                </div>
            {% endfor %}
        </div>
    </div>
    <form method="post" id="addForm">
        {% csrf_token %}
        <div class="form-head">
            <div class="heading">
                Create Competition
            </div>
            <button type="button" onclick="hideAddForm()">X</button>
        </div>
        <div class="form-input">
            <input type="text" placeholder="Enter title" name="title">
            <textarea placeholder="Enter Description" name="description"></textarea>
            <button type="submit">Create Competition</button>
        </div>
    </form>
{% endblock %}