{% extends "base.html" %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/question.css' %}">
<script>
    function showAddForm() {
        console.log('hello')
        addForm.style.top = '50%'
    }
    function hideAddForm() {
        addForm.style.top = '-100%'
    }
</script>
{% endblock %}

{% block content %}
    <div class="question">
        <div class="question-title">
            {{question.title}}
            <button onclick="showAddForm()">Add Tese Case</button>
        </div>
        <div class="question-description">
            {{question.description}}
        </div>
        <div class="testcases">
            {% for testcase in testcases %}
                <div class="testcase">
                        <div class="test-head"><b>Test Case {{forloop.counter}}</b></div>
                    <div class="input">
                        Input:
                        <pre>{{testcase.input}}</pre>
                    </div>
                    <div class="output">
                        Output:
                        <pre>{{testcase.output}}</pre>
                    </div>
                </div>
            {% empty %}
                <div class="testcase">
                    No Test cases found, create some.
                </div>
            {% endfor %}
        </div>
    </div>
    <form method="post" id="addForm">
        {% csrf_token %}
        <div class="form-head">
            <div class="heading">
                Add Test Case
            </div>
            <button type="button" onclick="hideAddForm()">X</button>
        </div>
        <div class="form-input">
            <input type="text" placeholder="Input" name="input">
            <textarea placeholder="Output" name="output"></textarea>
            <button type="submit">Add</button>
        </div>
    </form>
{% endblock %}

{% block script %}
{% endblock %}