@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: "Comfortaa", cursive;
	box-sizing: border-box;
	color: var(--font-color);
}

html,
body {
	height: 100%;
	--BlackPearl: #182025;
	--FountainBlue: #71a6b1;
	--Heather: #b8c2c6;
	--Horizon: #608b95;
	--font-color: white;
	background-color: var(--BlackPearl);
}
body.dark {
	--BlackPearl: white;
	--FountainBlue: #71a6b1;
	--Heather: #b8c2c6;
	--Horizon: #608b95;
	--font-color: black;
}

.content {
	display: flex;
	.welcome {
		flex: 1;
		display: flex;
		height: 100%;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}
}

a {
	color: var(--font-color);
	text-decoration: none;
	border-radius: 5px;
	padding: 10px 15px;
	&:hover {
		background-color: var(--bg-color);
	}
}

header {
	display: flex;
	min-height: 5%;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	border-bottom: 1px solid var(--FountainBlue);
	h2 {
		display: flex;
		align-items: center;
		button {
			margin-left: 10px;
			padding: 10px;
			width: max-content;
		}
	}
	a {
		padding: 10px 20px;
		border-radius: 5px;
		box-shadow: 0 0 2px rgb(155, 155, 155);
		cursor: pointer;
		text-decoration: none;
		margin-left: 10px;
		&:hover {
			background-color: var(--Heather);
			color: black;
		}
	}
}

.div1 {
	width: 15%;
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: var(--Heather);
	.dash-wrapper {
		justify-content: flex-start;
		display: flex;
		align-items: center;
		border: 1px solid transparent;
		img {
			height: 25px;
			width: 25px;
			filter: invert(1);
			margin: 25px;
		}
		a {
			color: inherit;
			background: transparent;
			border-radius: 5px;
			cursor: pointer;
			text-decoration: none;
		}
		&:hover {
			box-shadow: 3px 3px 3px var(--Horizon);
			border: 1px solid var(--Horizon);
			transition: all 0.5s;
			padding-left: 10px;
			color: var(--FountainBlue);
		}
	}
}

.head {
	display: flex;
	align-items: center;
	padding: 5px;
	border-bottom: 1px solid var(--Heather);
	h3 {
		flex: 1;
		padding: 15px;
	}
}

input,
select,
option,
button {
	height: 40px;
	width: 100%;
}
input,
select,
option,
button,
textarea {
	border-radius: 5px;
	color: var(--FountainBlue);
	background: transparent;
	border: 1px solid var(--FountainBlue);
	transition: all 0.3s ease;
	font-size: 15px;
}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
	background: var(--Heather);
	color: white;
}
