.content {
  height: 90%;
}

.playarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.playarea .questionarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: 1px solid var(--Heather);
  background-color: var(--BlackPearl);
  min-width: 40%;
}

.playarea .questionarea > *:not(.head) {
  padding: 20px;
}

.playarea .questionarea pre {
  font-family: "Courier New", Courier, monospace;
  border: 1px solid gray;
  padding: 10px;
  margin: 20px 0px;
  width: 100%;
  text-align: left;
}

.playarea .questionarea .language-tips {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.playarea .main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.playarea .main form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 70%;
  background-color: var(--BlackPearl);
}

.playarea .main form .head div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.playarea .main form input,
.playarea .main form select {
  padding: 10px 0px;
  border: 1px solid var(--Heather);
  margin: 5px;
  min-width: 125px;
  border-radius: 5px;
  margin-left: 15px;
  color: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.playarea .main form option {
  background-color: var(--BlackPearl);
  color: white;
  padding: 10px 0px;
}

.playarea .main form input {
  padding: 10px 20px;
  font-size: 15px;
  margin-right: 7.5px;
}

.playarea .main form input:disabled {
  background: gray;
}

.playarea .main textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
  resize: none;
  border: 1px solid transparent;
  border-bottom: 1px solid var(--Heather);
  font-family: Consolas, "Courier New", monospace;
  background-color: var(--BlackPearl);
}

.playarea .main textarea:focus {
  outline: none;
}

.terminal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 30%;
  background-color: var(--BlackPearl);
}

.terminal .output {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: var(--BlackPearl);
  overflow-y: scroll;
}

.terminal .output .result {
  font-family: "Courier New", Courier, monospace;
  -webkit-box-shadow: 3px 3px 10px black;
          box-shadow: 3px 3px 10px black;
  padding: 5px;
  margin: 10px;
}

.terminal .output .result.success {
  color: green;
}

.terminal .output .result.failed {
  color: red;
}
/*# sourceMappingURL=playground.css.map */