.question {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 50px;
  flex-direction: column;
  justify-content: space-around;
}

.question-title {
  font-size: xx-large;
  display: flex;
  justify-content: space-between;
  button {
    width: max-content;
    padding: 10px;
  }
}

.question-title,
.question-description,
.testcases {
  margin: 10px;
}

.testcases {
  flex: 1;
  div {
    margin: 20px;
  }
  pre {
    margin-top: 10px;
    padding: 10px;
    color: white;
    background-color: black;
  }
}

form {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: black;
  height: 500px;
  width: 500px;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 0.5s ease;
  padding: 20px;
  border-radius: 5px;
  .form-head {
    font-size: large;
    margin: 10px;
    display: flex;
    align-items: center;
    .heading {
      flex: 1;
    }
    button {
      width: 50px;
    }
  }
  .form-input {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
    input,
    textarea {
      padding: 10px;
    }
    textarea {
      height: 250px;
      resize: none;
    }
  }
}
