{% extends "base.html"%}
{% load static %}
{% block title %}Codoner{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/playground.css' %}">
{% endblock %}
{% block content %}
    <div class="playarea">
        <div class="questionarea">
            <div class="head">
                <h3>
                    {{question.title}}
                </h3>
            </div>
            <div class="description">
                {{question.description}}
            </div>
            <div class="case">
                Input:
                <pre>{{testcase.input}}</pre>
                Output:
                <pre>{{testcase.output}}</pre>
            </div>
            <div class="language-tips">
                Tips:
                <pre># Input
# Unnecessary print statments or formatting will lead test cases to fail
n = input()</pre>
            </div>
         </div>
        <div class="main">
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" id="totalTestCases" name="totalcases" value="{{totalTestCases}}">
                <input type="hidden" id="currentCase" name="currentCase" value="0">
                <input type="hidden" name="id" value="{{question.id}}">
                <div class="code_head head">
                <h3 class="title">Code</h3>
                    <div>
                        Font:
                        <select name="Font" id="font">
                            <option value="12px">12</option>
                            <option value="14px">14</option>
                            <option value="16px" selected>16</option>
                            <option value="18px">18</option>
                            <option value="20px">20</option>
                            <option value="22px">22</option>
                        </select>
                        Language:
                        <select name="language">
                            <option value="c">C</option>
                            <option value="py">Python</option>
                            <option value="java">Java</option>
                        </select>
                        <input type="submit" value="Submit">
                        <input type="button" id="run" onclick="sendreq()" value="Run">
                        <input type="reset">
                    </div>
                </div>
                <textarea name="code" spellcheck="false"></textarea>
            </form>
            <div class="terminal">
                <div class="head"><h3>Output</h3></div>
                <div class="output"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        const fontsizeselector = document.getElementById("font");
        const textareaselector = document.getElementsByTagName("textarea")[0];
        fontsizeselector.addEventListener("click", function (e) {
            textareaselector.style.fontSize = fontsizeselector.value
        })
    </script>
    <script src="{% static 'js/codeExecution.js' %}"></script>
{% endblock %}